<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <head>
        <meta charset="utf-8">
        <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
        <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/element-ui.css}" type="text/css">
    </head>
    <body>
        <div id="app">
            <template>
                <div class="block">
                    <span class="demonstration">完整功能</span>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage4"
                            layout="total, prev, pager, next, jumper"
                            :total="400">
                    </el-pagination>
                </div>
            </template>
        </div>

        <script th:src="@{/js/common/jquery-1.11.3.min.js}"></script>
        <script th:src="@{/js/common/vue.js}"></script>
        <script th:src="@{/js/common/axios.min.js}"></script>
        <script th:src="@{/js/common/element-ui.js}"></script>
        <script th:src="@{/js/common/qs.min.js}"></script>

        <script>

            var vm = new Vue({
                el: '#app',
                data: {
                    currentPage1: 5,
                    currentPage2: 5,
                    currentPage3: 5,
                    currentPage4: 7
                },
                methods: {
                    handleSizeChange: function (val) {
                        console.log("每页 ${val} 条");
                    },
                    handleCurrentChange: function (val) {
                        console.log("当前页: ${val}");
                    }
                }
            });
        </script>
    </body>
</html>